[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
flask = "*"
flask-restful = "*"
gpiozero = "*"

[requires]
python_version = "3.5"
